page-chat {
  .innerMessage{
    display: inline-block;
    padding: 5px  10px;
    background-color : #488aff;
    color: white;
    margin: 5px;
    border-radius: 10px;
  }

  .username{
    font-weight: bold;
    font-size: 100%;
  }

  .message{
    font-size: 100%;
    content: '';
    display: block;
    clear: both;
  }

  .messageLeft{
    float: left;
    background:#32db64;
  }

  .messageRight{
    float: Right;
    background: #488aff;
  }

  ion-input{
    font-size: 125%;
  }

  .element{
    display: flex;
    background:white;
  }

  .message.special .innerMessage .message {
    background: white;
    display: inline-block;
    padding: 0 10px;
  }
  .message.special .innerMessage:before {
    content: '';
    height: 2px;
    background: #08f150;
    display: block;
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .message.special .innerMessage {
    background: transparent;
    color: black;
    width: 100%;
    font-size: 90%;
    /* border: 1px solid; */
    float: none;
    text-align: center;
    position: relative;

  }
}
